[user]
	name = Julius Plenz
	email = feh@hostname
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff --color-words
	lg = log -p
	tree = log --pretty=format:'%Cgreen%h%Creset : %s (%cr)' --graph --all
	k = ! gitk --all
	ch = cherry -v
	b = branch -av
[color]
	branch = auto
	diff = auto
	status = auto
[merge]
	tool = vimdiff
[rerere]
	enabled = true
